<header class="navbar">
    <div class="logo">
        <a href="/index.html">
            <img src="/assets/logo/1_Logo_CVO.png" alt="Logo CVO">
        </a>
    </div>
<div class="info-bar">
    <div class="info-track">
        Nous cherchons des joueurs, alors si le rp t'interesse rejoins nous ! <a href="https://discord.gg/cvo-rp" class="btn" target="_blank" rel="noopener noreferrer">Rejoindre</a>
    </div>
</div>
    <nav>
        <a href="/index.html">Accueil</a>
        <a href="/pages/confrerie.html">Confrérie</a>
        <a href="/pages/lore.html">Lore</a>
        <a href="/pages/regiments.html">Régiments</a>
        <a href="https://discord.gg/cvo-rp" class="btn primary" target="_blank" rel="noopener noreferrer">Rejoindre</a>
    </nav>
</header>