.timeline {
    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 60px 40px;
}

.timeline-item {
    background: #111;

    border-left: 3px solid var(--purple);

    padding: 20px;

    border-radius: 5px;
}

.sub-hero {
    position: relative;

    height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: url("/assets/images/background.jpg") center/cover no-repeat;

    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 2;
}